body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.div-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    margin: 20px 0;
}

.intro-container {
    background-color: #33cccc;
}

section h2 {
    margin-bottom: 10px;
    color: #333;
}

section p, section ul {
    margin: 10px 0;
    color: #555;
}

.skills-container {
    /* list-style-type: disc;
    padding-left: 20px; */
    background-color: #33cc33;
}
ul {
    list-style-type: disc;
    padding-left: 20px;
}

.contact-container {
    /* color: #007bff;
    text-decoration: none; */
    background-color:burlywood
}

a {
    color: #007bff;
    text-decoration: none;
}


.contact-container a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    .div-container {
        width: 90%;
        padding: 15px;
    }

    header h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .div-container {
        width: 95%;
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    section h2 {
        font-size: 1.25em;
    }

    section p, section ul {
        font-size: 0.9em;
    }
}
